#!/usr/bin/env bash

if [ $# -eq 0 ]
  then
    echo "Usage: upload.sh filename"
    exit 1
fi

SSH_USER="{{getv "/upload/user"}}"
SSH_HOST="{{getv "/upload/host"}}"
SSH_PATH="{{getv "/upload/target"}}"

echo "Uploading $1 to ${SSH_USER}@${SSH_HOST}:${SSH_PATH}"

scp -oStrictHostKeyChecking=no "$1" ${SSH_USER}@${SSH_HOST}:${SSH_PATH}